<div class="container-fluid">
  <div class="row">
    <aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
      <app-sidenav></app-sidenav>
    </aside>
    <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
      <div class="main-navbar sticky-top bg-white">
        <app-topnav></app-topnav>
      </div>
      <div class="main-content-container container-fluid px-4">
        <div class="page-header row no-gutters py-4">
          <div style="width: 100%;">
              <div class="d-flex justify-content-between">
                  <h3 class="page-title">Volumes</h3>
                  <button type="button" class="btn btn-primary" [routerLink]="['/add-volume']">Add Volume</button>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="card card-small card-post mb-4">
              <div class="card-body">
                <h5 class="card-title">Had denoting properly jointure which well books beyond</h5>
                <p class="card-text text-muted"> In said to of poor full be post face snug. Introduced imprudence see
                  say unpleasing devonshire acceptance son. Exeter longer...</p>
              </div>
              <div class="card-footer border-top d-flex">
                <div class="card-post__author d-flex">
                  <a href="#" class="card-post__author-avatar card-post__author-avatar--small"
                    style="background-image: url('../../../assets/images/logo.jpg');">Written by James Khan</a>
                  <div class="d-flex flex-column justify-content-center ml-3">
                    <span class="card-post__author-name">Mawu Ashong</span>
                    <small class="text-muted">21 March 2011</small>
                  </div>
                </div>
                <div class="my-auto ml-auto">
                  <a class="btn mr-2 btn-sm btn-secondary" href="#">
                    Edit</a>
                  <a class="btn btn-sm btn-danger" href="#">
                    Delete</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card card-small card-post mb-4">
              <div class="card-body">
                <h5 class="card-title">Husbands ask repeated resolved but laughter debating</h5>
                <p class="card-text text-muted">It abode words began enjoy years no do ﻿no. Tried spoil as heart visit
                  blush or. Boy possible blessing sensible set but margaret interest. Off tears...</p>
              </div>
              <div class="card-footer border-top d-flex">
                <div class="card-post__author d-flex">
                  <a href="#" class="card-post__author-avatar card-post__author-avatar--small"
                    style="background-image: url('../../../assets/images/logo.jpg');">Written by Anna Kunis</a>
                  <div class="d-flex flex-column justify-content-center ml-3">
                    <span class="card-post__author-name">Mawu Ashong</span>
                    <small class="text-muted">21 March 2011</small>
                  </div>
                </div>
                <div class="my-auto ml-auto">
                  <a class="btn mr-2 btn-sm btn-secondary" href="#">
                    Edit</a>
                  <a class="btn btn-sm btn-danger" href="#">
                    Delete</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card card-small card-post mb-4">
              <div class="card-body">
                <h5 class="card-title">Instantly gentleman contained belonging exquisite now direction</h5>
                <p class="card-text text-muted">West room at sent if year. Numerous indulged distance old law you. Total
                  state as merit court green decay he. Steepest merit checking railway...</p>
              </div>
              <div class="card-footer border-top d-flex">
                <div class="card-post__author d-flex">
                  <a href="#" class="card-post__author-avatar card-post__author-avatar--small"
                    style="background-image: url('../../../assets/images/logo.jpg');">Written by Anna Kunis</a>
                  <div class="d-flex flex-column justify-content-center ml-3">
                    <span class="card-post__author-name">Mawu Ashong</span>
                    <small class="text-muted">21 March 2011</small>
                  </div>
                </div>
                <div class="my-auto ml-auto">
                  <a class="btn mr-2 btn-sm btn-secondary" href="#">
                    Edit</a>
                  <a class="btn btn-sm btn-danger" href="#">
                    Delete</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
